<section>
  <h1>About Me</h1>
  <p>
    I graduated MIT in 2009 with degrees in Computer Science and Economics.<br>
    I then traded US equities, futures, and options from 2009&ndash;2014 with <a href="https://en.wikipedia.org/wiki/KCG_Holdings">KCG</a> / <a href="https://en.wikipedia.org/wiki/Global_Electronic_Trading_Company">GETCO</a>.<br>
    From 2014&ndash;2018 I worked at <a href="https://www.butterflynetwork.com">Butterfly Network</a> (on machine learning + web dev)<br>
    In 2018 I joined CompIQ / Stella.ai as VP of Engineering<br>
    and since 2019 have been at <a href="https://www.freeagency.com">Free Agency</a> (as Co-founder / CTO).
  </p>
  {% if site.linkedin_user %}
    <p><a target="_blank" rel="noopener" href="https://www.linkedin.com/in/{{ site.linkedin_user }}/">My LinkedIn &raquo;</a></p>
  {% endif %}
  {% if site.stackoverflow_user %}
    <p><a target="_blank" rel="noopener" href="https://stackoverflow.com/u/{{ site.stackoverflow_user }}/">My Stack Overflow &raquo;</a></p>
  {% endif %}
</section>
