<section>
  <h1>About Me</h1>
  <p>
    I graduated MIT in 2009 with degrees in Computer Science and Economics.<br>
    I traded US equities, futures, and options from 2009&ndash;2014 with <a href="https://en.wikipedia.org/wiki/KCG_Holdings">KCG</a> / <a href="https://en.wikipedia.org/wiki/Global_Electronic_Trading_Company">GETCO</a>.<br>
    Since 2014 I have worked at <a href="https://www.butterflynetwork.com">Butterfly Network</a> (on machine learning + web dev), CompIQ / Stella.ai (as VP Engineering), and now<a href="https://www.freeagency.com">Free Agency</a> (as Co-founder / CTO).
  </p>
</section>
